body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#puzzle-container {
    width: 90%;
    max-width: 500px;
    height: calc(90vw * 0.333);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    border: 2px solid #000;
}

.puzzle-piece {
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;
}
